@import 'tailwindcss';
@import "tailwindcss-animated";

@theme {
  --font-sans: 'Manrope', sans-serif;
  --rotate-y-180: rotateY(180deg);
  --perspective-1000: perspective(1000px);
  --preserve-3d: transform-style: preserve-3d;
  --backface-hidden: backface-visibility: hidden;
}
